<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Heroic Features - Start Bootstrap Template</title>
    <link th:href="@{/css/bootstrap.min.css}" href="#" rel="stylesheet"/>
    <link th:href="@{/css/heroic-features.css}" href="#" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:href="@{/}" class="navbar-brand" href="#">Home</a>
        </div>
    </div>
</nav>

<div class="container">

    <header class="well well-lg hero-spacer">
        <h1 class="text-center">League teams</h1>
    </header>

    <hr/>
    <div class="row text-center">

        <div th:each="team,iterationStatus  : ${leagueTeams}" class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <a th:href="@{|/leagues/${leagueId}/teams/${team.id}|}" href="#"><img
                        style="height: 500px; width: 800px;" th:src="${team.crestUrl}"
                        src="http://placehold.it/800x500" alt=""/></a>
                <div class="caption">
                    <h4 th:text="${team.name}">Team name</h4>
                    <p>
                        <a th:href="@{|/leagues/${leagueId}/teams/${team.id}|}" href="#" class="btn btn-primary">Team
                            details </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<script th:src="@{/js/jquery.js}" src="#"></script>
<script th:src="@{/js/bootstrap.min.js}" src="#"></script>
</body>
</html>